:root {
    --color-dark: rgb(4, 17, 58);
    --color-light-gray: rgb(239, 239, 239);
    --color-success: hsl(192, 87%, 70%);
    --color-alert: hsl(51, 82%, 75%);
    --color-danger: hsl(0, 82%, 69%);
}

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: white;
    height: 88vh;
    text-align: center;
}