:root {
    --color-dark: rgb(4, 17, 58);
    --color-light-gray: rgb(239, 239, 239);
    --color-success: hsl(192, 87%, 70%);
    --color-alert: hsl(51, 82%, 75%);
    --color-danger: hsl(0, 82%, 69%);
    
    /* Dark mode palette*/
    --color-darker: rgb(7, 10, 15);
    --color-hazy-lightblue: rgb(192, 203, 204);
    --color-lightless-gray: rgb(206, 206, 206);
    --color-dark-success: rgb(59, 84, 112);
    --color-dark-alert: rgb(194, 194, 122);
    --color-dark-danger: rgb(136, 75, 75);
}

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: white;
    height: 82.5vh;
    text-align: center;
}
